@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jura';
  src: url('/public/font/Jura/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/font/Inter/Inter.var.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter;
}
