@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jura';
  src: url('/public/font/Jura/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/font/Inter/Inter-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Jura;
  color: white;
  background-color: black;
}
