@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/font/Inter/Inter-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Jura;
  color: white;
  background-color: black;
}

